<ng-container *ngIf="!(state$ | async).isFetching; else loading">
    <mat-list>
        <mat-list-item *ngFor="let item of (shoppingList$ | async)">
            <app-item [item]="item" (changed)="isItemSelected($event)"></app-item>
        </mat-list-item>
    </mat-list>
    <ng-container *ngIf="buttonSettings$ | async as settings">
        <button (click)="openDialog()" class="action-button" mat-fab [color]="settings.color">
            <app-animated-mat-icon start="add" end="delete" [animate]="settings.animate" animateFromParent="true">
            </app-animated-mat-icon>
        </button>
    </ng-container>
</ng-container>

<ng-template #error>
    <p>{{errorMsg}}</p>
</ng-template>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>